//bg
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs3, visibility $trs3;
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
  }
  &_left {
    background-position-x: left;
  }
  &_right {
    background-position-x: right;
  }
  &_top {
    background-position-y: top;
  }
  &_bottom {
    background-position-y: bottom;
  }
}
//images
.image {
  display: block;
  position: relative;
  img {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &.lazyloaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &_cover,
  &_contain {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    background-color: var(--color-bg-text);
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.js-distortion {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.splitting .char, 
.splitting .word {
  display: inline-block;
}


.pagination {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__button {
    display: block;
    width: 20px;
    height: 20px;
    margin: -5px;
    padding: 5px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      transition: background-color $trs1, transform $trs1;
    }
    &.active {
      pointer-events: none;
    }
    &_style-1 {
      &::after {
        background-color: var(--color-muted);
      }
      &.touch, &.hover {
        &::after {
          background-color: var(--color-text);
          transform: scale(1.3);
        }
      }
      &.active {
        &::after {
          background-color: var(--color-light);
        }
      }
    }
  }
}

.trigger-round {
  position: fixed;
  z-index: 2000;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--color-text);
    top: 50%;
    left: 50%;
    transition: opacity $trs1, transform $trs1;
    margin-top: -3px;
    margin-left: -3px;
  }
  &-icon {
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    fill: transparent;
    stroke: var(--color-text);
    transform: rotate(-90deg);
    transition: opacity $trs1, stroke-width $trs2, transform $trs2;
  }
  &.hover {
    &:after {
      transition: opacity $trs1, transform $trs2;
      transform: scale(7);
      opacity: 0.15;
    }
    &.focus {
      &:after {
        transform: scale(5.25);
      }
    }
    .trigger-round-icon {
      opacity: 0;
    }
  }

  &.focus {
    &:after {
      transition: $trs1;
    }
    .trigger-round-icon {
      transition: $trs1;
    }
    .trigger-round-icon {
      transform: rotate(-90deg) scale(0.75);
      stroke-width: 2.66px;
    }
  }
  &.move {
    .trigger-round-icon {
      transform: rotate(-90deg) scale(0.5);
      stroke-width: 4px;
    }
  }

  &.loading {
    .trigger-round-icon {
      transform: rotate(-90deg) scale(1);
      stroke-width: 2px;
    }
    &:after {
      opacity: 0;
    }
  }

  &.hidden {
    &:after {
      opacity: 0;
    }
    .trigger-round-icon {
      opacity: 0;
      transform: rotate(-90deg) scale(0);
    }
  }
}

.background-text {
  color: var(--color-bg-text);
  position: absolute;
}

.splide {
  visibility: visible;
  &__pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    li {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
    button {
      display: block;
      cursor: pointer;
      margin: -5px;
      width: 20px;
      height: 20px;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 1.5px solid var(--color-muted);
        background-color: var(--color-muted);
        transition: border-color $trs1, background-color $trs1, transform $trs1;
      }
      &.touch, &.hover {
        &::before {
          background-color: var(--color-text);
          border-color: var(--color-text);
          transform: scale(1.3);
        }
      }
      &.is-active {
        pointer-events: none;
        &::before {
          background-color: transparent;
          border-color: var(--color-light);
        }
      }
    }
  }
}

.bg-title {
  color: var(--color-bg-text);
  font-size: 90px;
  line-height: 1.1;
  margin-bottom: -0.25em;
  @include media-breakpoint-down(xxl) {
    font-size: 72px;
  }
}