.conceptions {
  position: relative;
  .grid {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.2;
    pointer-events: none;
    display: none;
  }
  input {
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 400px;
    appearance: auto;
    @include media-breakpoint-down(xxl) {
      bottom: 32px;
    }
  }
  &__bg-title {
    font-size: 110px;
    white-space: nowrap;
    display: block !important;
  }
  &__head {
    margin-bottom: 30px;
    &-text {
      position: relative;
      z-index: 2;
    }
  }
  .dur {
    position: absolute;
    bottom: 27px;
    left: 460px;
    display: block;
    font-weight: 500;
  }
  &__slider {
    &-wrapper {
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
  &__slides {
    position: relative;
  }
  &__bottom {
    position: relative;
  }
  &__scale {
    width: 130px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-muted);
    position: absolute;
    bottom: 90px;
    left: 734px;
    overflow: hidden;
    span {
      display: block;
      height: 100%;
      background-color: var(--color-light);
    }
  }
  @include media-breakpoint-up(lg) {
    &__slider {
      &-wrapper {
        height: 100vh;
      }
    }
    &__slides {
      height: 100%;
    }
    &__leaf-message-bottom, &__leaf-message-top {
      display: none;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__bg-title {
      font-size: 105px;
    }
    &__slider {
      &-wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
    &__scale {
      bottom: 80px;
    }
    &__scale {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include media-breakpoint-between(xl, xxl) {
    @media (max-height:620px) {
      &__slider {
        &-wrapper {
          padding-top: 60px;
          padding-bottom: 60px;
        }
      }
      &__scale {
        bottom: 60px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__slider {
      &-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    &__scale {
      bottom: 60px;
    }
    &__bg-title {
      font-size: 86px;
    }
  }
  @include media-breakpoint-down(lg) {
    background-color: var(--color-bg-darker);
    padding: 90px 0;
    &__bg-title {
      font-size: 74px;
      margin-bottom: -0.3em !important;
    }
    &__leaf-message-top, &__leaf-message-bottom {
      display: inline-flex;
      position: absolute;
      right: $container-padding-x;
    }
    &__leaf-message-bottom {
      bottom: -10px;
    }
    &__leaf-message-top {
      bottom: 0;
    }
    &__slider {
      &-scroller {
        overflow: hidden;
      }
      &-wrapper {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        max-width: 100% !important;
        padding: 90px 0 110px 0;
        margin-bottom: -20px;
        .scrollbar-track {
          display: none !important;
        }
      }
    }
    &__slides {
      display: flex;
      justify-content: space-between;
      width: 4200px;
      overflow: hidden;
    }
    &__head {
      margin-bottom: 0;
    }
    &__scale {
      position: relative;
      bottom: -1px;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 70px 0;
    &__leaf-message-top {
      display: none;
    }
    &__bg-title {
      font-size: 52px;
    }
    &__slides {
      display: flex;
      justify-content: space-between;
      width: 2930px;
      overflow: hidden;
    }
    &__slider {
      &-wrapper {
        padding: 70px 0 90px 0;
      }
    }
    &__scale {
      transform: translate(0);
      left: calc((100vw - 280px) / 2);
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 65px 0 70px 0;
    &__slider {
      &-wrapper {
        padding: 60px 0 80px 0;
      }
    }
  }
}


.conceptions-slide {
  max-width: 100% !important;
  margin: 0 !important;
  &__content {
    position: relative;
    height: 100%;
  }
  &__dec {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font2;
    font-weight: 400;
    width: 1em;
    &-val {
      span {
        text-transform: uppercase;
        display: block;
        transform: rotate(-90deg);
        line-height: 1;
      }
    }
    &-line {
      width: 1px;
      height: 60px;
      background-color: var(--color-text);
      margin-top: 10px;
    }
  }
  &__slogan {
    position: absolute;
    line-height: 1.25;
    &_1 {
      transform: translateX(calc(50% - 0.625em)) rotate(-90deg);
      right: 74px;
      top: calc(28% - 0.625em);
    }
    &_2 {
      transform: translateX(calc(50% - 1.25em)) rotate(-90deg);
      right: 0;
      top: calc(32.5% - 1.875em);
      width: 200px;
    }
    &_3 {
      transform: translateX(calc(50% - 0.625em)) rotate(-90deg);
      right: 1075px;
      top: calc(104px - 0.625em);
      width: 260px;
    }
    &_4 {
      transform: translateX(calc(50% - 1.25em)) rotate(-90deg);
      right: 1184px;
      top: calc(35% - 1.25em);
      width: 260px;
    }
  }
  &__m-image {
    canvas {
      visibility: visible !important;
      opacity: 1 !important;
    }
    &_1 {
      width: 448px;
      height: 56%;
      left: 710px;
    }
    &_2 {
      width: 684px;
      height: 65%;
      left: 590px;
    }
    &_3 {
      width: 530px;
      height: 50%;
      left: 356px;
    }
    &_4 {
      width: 684px;
      height: 70%;
      left: 236px;
    }
  }
  &__s-image {
    canvas {
      visibility: visible !important;
      opacity: 1 !important;
    }
    &_1 {
      position: absolute;
      width: calc(210px + #{$xxl-field});
      transform: translateX($xxl-field-negative);
      left: 0;
      bottom: 0;
      height: 40%;
    }
    &_3 {
      position: absolute;
      width: calc(172px + #{$xxl-field});
      left: 1220px;
      bottom: 142px;
      height: 45%;
    }
  }
  &__text {
    display: block;
    position: absolute;
    margin: 0;
    &_1 {
      left: 354px;
      top: calc(56% - 1em);
      width: 300px;
    }
    &_2 {
      left: 0;
      top: 55%;
      width: 340px;
    }
    &_3 {
      left: 922px;
      top: calc(50% - 2.25em);
      width: 280px;
    }
    &_4 {
      left: 955px;
      top: calc(50% - 1.5em);
      width: 305px;
    }
  }
  &__title {
    position: absolute;
    line-height: 1;
    bottom: 40px;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    width: 520px;
    text-align: center;
    left: 516px;
  }
  &__button {
    position: absolute;
    right: 0;
    bottom: 44px;
  }
  &__index {
    position: absolute;
    display: flex;
    align-items: flex-end;
    font-family: $font2;
    z-index: 2;
    font-size: 314px;
    &_1 {
      top: -30px;
      left: 315px;
      .conceptions-slide__count {
        margin-left: -0.4em;
      }
    }
    &_2 {
      top: -30px;
      left: 142px;
      .conceptions-slide__count {
        margin-left: 0.25em;
      }
    }
    &_3 {
      bottom: 80px;
      left: -15px;
    }
    &_4 {
      top: -30px;
      left: 860px;
      .conceptions-slide__value {
        letter-spacing: 0;
      }
    }
  }
  &__value {
    line-height: 0.85;
    letter-spacing: -0.06em;
    color: #7f7f7f;
    display: flex;
  }
  &__value-index {
    position: relative;
  }
  &__value-index-prev, &__value-index-next, &__value-index-current {
    display: block;
    
  }
  &__value-index-prev, &__value-index-next {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  &__value-index-prev {
    bottom: 100%;
  }
  &__value-index-next {
    top: 100%;
  }
  &__count {
    color: #474747;
    font-size: 0.2em;
    line-height: 1;
    transform: translateY(0.35em);
  }
  @include media-breakpoint-up(lg) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
  }
  @include media-breakpoint-down(xxl) {
    &__value {
      font-size: 240px;
    }
    &__index {
      &_1 {
        top: -20px;
        left: 290px;
      }
      &_2 {
        top: -20px;
        left: 140px;
      }
      &_3 {
        bottom: 10%;
        left: -12px;
      }
      &_4 {
        top: -20px;
        left: 700px;
      }
    }
    &__text {
      &_1 {
        left: 268px;
        top: 60%;
      }
      &_2 {
        top: auto;
        bottom: 40%;
      }
      &_3 {
        top: 60%;
        left: 830px;
      }
      &_4 {
        top: 55%;
        left: 800px;
      }
    }
    &__m-image {
      position: absolute;
      &_1 {
        width: 484px;
        height: 60%;
        left: 612px;
      }
      &_2 {
        width: 540px;
        height: 70%;
        left: 510px;
      }
      &_3 {
        width: 486px;
        height: 60%;
        left: 308px;
      }
      &_4 {
        width: 560px;
        height: 70%;
        left: 204px;
      }
    }
    &__s-image {
      &_1 {
        width: calc(180px + #{$xl-field});
        transform: translateX($xl-field-negative);
      }
      &_3 {
        width: calc(78px + #{$xl-field});
        left: 1122px;
        bottom: 24%;
        height: 45%;
      }
    }
    &__slogan {
      &_1 {
        right: 0;
        top: calc(30% - 0.75em);
        width: auto;
      }
      &_2 {
        right: 0;
        top: 36%;
      }
      &_3 {
        right: 930px;
      }
      &_4 {
        right: 1028px;
      }
    }
    &__title {
      bottom: 30px;
      left: 50%;
      width: auto;
      transform: translateX(-50%);
    }
    &__button {
      right: 0;
      bottom: 34px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__button {
      bottom: 30px;
    }
    &__value {
      font-size: 212px;
    }
    &__s-image {
      &_1 {
        width: calc(180px + #{$lg-field});
        transform: translateX($lg-field-negative);
      }
      &_3 {
        width: calc(100px + #{$lg-field});
        height: 40%;
        left: 812px;
      }
    }
    &__slogan {
      &_3 {
        left: 12px;
        right: auto;
      }
      &_4 {
        right: 780px;
      }
    }
    &__index {
      &_1 {
        left: 120px;
      }
      &_2 {
        left: 58px;
      }
      &_3 {
        bottom: 25%;
      }
      &_4 {
        left: 580px;
      }
    }
    &__text {
      &_1 {
        top: calc(50% + 40px);
      }
      &_3 {
        left: 520px;
        top: calc(48% + 30px);
      }
      &_4 {
        left: 710px;
      }
    }
    &__m-image {
      &_1 {
        left: auto;
        right: 60px;
        height: 50%;
        width: 440px;
      }
      &_2 {
        left: 394px;
        width: 420px;
        height: 65%;
      }
      &_3 {
        height: 48%;
        width: 400px;
      }
      &_4 {
        height: 70%;
        width: 460px;
        left: 166px;
      }
    }
    &__title {
      width: 480px;
      font-size: 3.25rem;
    }
  }
  @include media-breakpoint-down(lg) {
    height: 460px;
    flex: 0 0 1000px;
    &__title {
      bottom: 2px;
      font-size: 2.875rem;
    }
    &__button {
      bottom: 0;
    }
    &__value {
      font-size: 190px;
    }
    &__index {
      &_1 {
        top: -15px;
        left: 260px;
      }
      &_2 {
        top: -15px;
        left: 72px;
      }
      &_3 {
        bottom: 40px;
      }
      &_4 {
        left: 600px;
        top: -15px;
      }
    }
    &__s-image {
      transform: translate(0);
      &_1 {
        width: 186px;
        height: 223px;
        left: -$container-padding-x;
      }
      &_3 {
        width: 162px;
      }
    }
    &__m-image {
      &_1 {
        width: 288px;
        height: 220px;
        right: 100px;
      }
      &_3 {
        width: 400px;
        height: 260px;
        left: 280px;
      }
      &_4 {
        height: 330px;
        left: 180px;
        width: 456px;
      }
    }
    &__text {
      &_1 {
        top: 232px;
        left: 230px;
      }
      &_2 {
        bottom: 30%;
      }
      &_3 {
        top: 290px;
        left: 500px;
      }
      &_4 {
        right: 0;
        left: auto;
        width: 280px;
      }
    }
    &__slogan {
      &_3 {
        left: -20px;
      }
      &_4 {
        right: 800px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    height: 324px;
    flex: 0 0 700px;
    &__title {
      left: 162px;
      width: 260px;
      transform: translate(0);
      bottom: -2px;
      font-size: 1.875rem;
    }
    &__text {
      width: 288px;
      &_1 {
        top: 178px;
        left: 204px;
      }
      &_2 {
        bottom: 82px;
      }
      &_3 {
        top: 217px;
        left: 317px;
      }
      &_4 {
        width: 250px;
        top: auto;
        bottom: 79px;
      }
    }
    &__slogan {
      &_3 {
        left: -14px;
      }
      &_4 {
        right: 588px;
      }
    }
    &__value {
      font-size: 150px;
    }
    &__count {
      font-size: 0.15em;
    }
    &__index {
      &_1 {
        top: -11px;
        left: 120px;
      }
      &_2 {
        top: -11px;
        left: 62px;
      }
      &_3 {
        left: -6px;
        bottom: 72px;
      }
      &_4 {
        left: 355px;
        top: -11px;
      }
    }
    &__s-image {
      &_1 {
        width: 134px;
        height: 130px;
        left: -$mobile-container-padding-x;
      }
      &_3 {
        display: none;
      }
    }
    &__m-image {
      &_1 {
        width: 216px;
        height: 150px;
        right: 66px;
      }
      &_2 {
        left: 318px;
        width: 280px;
        height: 200px;
      }
      &_3 {
        width: 340px;
        height: 194px;
      }
      &_4 {
        left: 106px;
        height: 244px;
        width: 280px;
      }
    }
  }
}