.input {
  position: relative;
  display: block;
  font-size: 0;
  &__element {
    font-size: 1rem;
    line-height: 24px;
    padding: 10px 0 10px 10px;
    display: block;
    width: 100%;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light);
    border-bottom: 1px solid var(--color-light);
    transition: border-color $trs1;
    font-weight: 300;
    pointer-events: none;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--color-light);
      box-shadow: 0 0 0px 1000px var(--color-bg-dark) inset;
    }
    &::placeholder {
      color: var(--color-muted);
      transition: opacity $trs1;
    }
    &:focus {
      pointer-events: all;
      &::placeholder {
        opacity: 0;
      }
    }
  }
  &__message {
    font-size: 0.75rem;
    line-height: 24px;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--color-error);
    opacity: 0;
    font-weight: 400;
    padding-left: 10px;
  }
  &.error {
    .input__element {
      border-color: var(--color-error);
    }
  }
}

.form {
  &__group {
    margin-bottom: -35px;
  }
  &__item {
    margin-bottom: 35px;
  }
  &__submit {
    margin-top: 65px;
    text-align: center;
    .button {
      max-width: 168px;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__submit {
      margin-top: 50px;
    }
  }
}