.header {
  //display: none;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: background-color $trs2;
  /* &__logo {
    transition: opacity $trs2, visibility $trs2, transform $trs2out;
  } */
  &_fixed {
    background-color: var(--color-bg-transparent);
    .header__container {
      height: 70px;
    }
  }
  &_nav-opened {
    background-color: transparent;
    .header__container {
      height: 130px;
    }
  }
  &__container {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height $trs2;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      height: 100px;
    }
    &_nav-opened {
      .header__container {
        height: 100px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      height: 90px;
    }
    &_nav-opened {
      .header__container {
        height: 90px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      height: 80px;
    }
    &_nav-opened {
      .header__container {
        height: 80px;
      }
      /* .header__logo {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100vw);
      } */
    }
  }
}

.nav-toggle {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 8px;
  margin-right: 12px;
  svg {
    width: 100%;
    fill: none;
    color: var(--color-light);
    path {
      stroke-width: 2.5px;
      transition: $trs1;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-right: -8px;
  }
}
