.header {
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: background-color $trs2, transform $trs2, opacity $trs2;
  &_fixed {
    background-color: var(--color-bg-transparent);
    &:not(.header_nav-opened) {
      .header__container {
        transition: height $trs2in;
        height: 70px;
      }
    }
    &.header_modal-opened {
      opacity: 0;
    }
  }
  &_hidden:not(.header_nav-opened) {
    transform: translateY(-100%);
  }
  &_nav-opened {
    background-color: transparent;
  }
  &__container {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height $trs2out;
  }
  @include media-breakpoint-down(xxl) {
    &__container {
      height: 100px;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      height: 90px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      height: 80px;
    }
  }
}

.nav-toggle {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 8px;
  margin-right: 12px;
  svg {
    width: 100%;
    fill: none;
    color: var(--color-light);
    path {
      stroke-width: 2.5px;
      transition: $trs1;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-right: -8px;
  }
}
