.no-flickr {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-right {
  text-align: right;
}