.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  &.disabled {
    pointer-events: none;
  }
}
.main {
  flex: 1 1 100%;
  opacity: 0;
  visibility: hidden;
}
.section {
  margin-bottom: 120px;
  &:first-child {
    padding-top: 130px;
  }
  @include media-breakpoint-down(xxl) {
    margin-bottom: 100px;
    &:first-child {
      padding-top: 100px;
    }
  }
}


@include media-breakpoint-down(md) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}