.wrapper {
  position: relative;
  &.disabled {
    pointer-events: none;
    .content > .scrollbar-track-y {
      &.show {
        opacity: 0;
      }
    }
  }
}

.content {
  & > .scroll-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  & > .scrollbar-track-y {
    z-index: 10000;
  }
}

.scrollbar-track-y {
  background-color: transparent;
  padding: 24px 10px;
  width: 24px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity $trs1;
  }
  &[data-touch], &[data-hover] {
    &:after {
      opacity: 1;
    }
  }
  .scrollbar-thumb {
    cursor: pointer;
    width: inherit;
    padding: inherit;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: var(--color-text);
      transition: background-color $trs1;
    }
    &[data-touch], &[data-hover] {
      &:after {
        background-color: var(--color-light);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 16px;
    padding: 4px 4px 4px 8px;
    pointer-events: none;
    &:after {
      border-radius: 2px;
    }
  }
}

.main {
  flex: 1 1 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.container {
  position: relative;
}
.section {
  margin-bottom: 120px;
  &__content {
    position: relative;
    z-index: 2;
  }
  &:first-child {
    padding-top: 130px;
  }
  .section {
    &:last-child {
      margin: 0;
    }
  }
  @include media-breakpoint-down(xxl) {
    margin-bottom: 100px;
    &:first-child {
      padding-top: 100px;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 90px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 70px;
    &:first-child {
      padding-top: 90px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 64px;
    &:first-child {
      padding-top: 80px;
    }
  }
}


@include media-breakpoint-down(sm) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}

.window-size {
  min-height: 800px;
  max-height: 1000px;
  height: 100vh;
  @include media-breakpoint-down(xxl) {
    min-height: 600px;
    max-height: 800px;
  }
  @include media-breakpoint-down(lg) {
    min-height: 720px;
    max-height: 1024px;
  }
  @include media-breakpoint-down(sm) {
    min-height: 520px;
    max-height: 700px;
  }
}

.home-screen {
  min-height: 800px;
  max-height: 1000px;
  height: 100vh;
  padding: 0 !important;
  position: relative;
  &__background {
    position: absolute;
    height: calc(100% - 1px);
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-bg-darker);
    overflow: hidden;
    z-index: 1;
  }
  &__scene {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  &__container {
    height: 100%;
    position: relative;
    padding-top: 160px;
    padding-bottom: 100px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__gradient {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.380401) 35.42%, rgba(26, 26, 26, 0.604167) 56.25%, #1A1A1A 100%);
  }
  &__category-list {
    position: absolute;
    padding-top: inherit;
    padding-bottom: inherit;
    z-index: 4;
    right: $container-padding-x;
    top: 0;
    height: 100%;
  }
  @include media-breakpoint-down(xxl) {
    min-height: 600px;
    max-height: 800px;
    &__container {
      padding-top: 130px;
      padding-bottom: 80px;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      padding-bottom: 60px;
    }
  }
  @include media-breakpoint-down(lg) {
    min-height: 720px;
    max-height: 1024px;
    &__container {
      padding-bottom: 140px;
      padding-top: 180px;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      padding-bottom: 100px;
      padding-top: 120px;
    }
    &__category-list {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    min-height: 520px;
    max-height: 700px;
    &__container {
      padding-bottom: 68px;
      padding-top: 90px;
    }
  }
}