.wrapper {
  position: relative;
  &.disabled {
    pointer-events: none;
    .content > .scrollbar-track-y {
      &.show {
        opacity: 0;
      }
    }
  }
}

.content {
  & > .scroll-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  & > .scrollbar-track-y {
    z-index: 10000;
  }
}

.scrollbar-track-y {
  background-color: transparent;
  padding: 24px 10px;
  width: 24px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity $trs1;
  }
  &[data-touch], &[data-hover] {
    &:after {
      opacity: 1;
    }
  }
  .scrollbar-thumb {
    cursor: pointer;
    width: inherit;
    padding: inherit;
    background-color: transparent;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: var(--color-text);
      transition: background-color $trs1;
    }
    &[data-touch], &[data-hover] {
      &:after {
        background-color: var(--color-light);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 16px;
    padding: 4px 4px 4px 8px;
    pointer-events: none;
    &:after {
      border-radius: 2px;
    }
  }
}

.main {
  flex: 1 1 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.container {
  position: relative;
}
.section {
  margin-bottom: 120px;
  &__content {
    position: relative;
    z-index: 2;
  }
  &:first-child {
    padding-top: 130px;
  }
  .section {
    &:last-child {
      margin: 0;
    }
  }
  @include media-breakpoint-down(xxl) {
    margin-bottom: 100px;
    &:first-child {
      padding-top: 100px;
    }
  }
  @include media-breakpoint-down(lg) {
    margin-bottom: 90px;
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 80px;
    &:first-child {
      padding-top: 90px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 70px;
    &:first-child {
      padding-top: 80px;
    }
  }
}


@include media-breakpoint-down(md) {
  .container {
    padding-right: $mobile-container-padding-x;
    padding-left: $mobile-container-padding-x;
  }
  .row {
    margin-left: calc(#{$mobile-grid-gutter-width} / -2);
    margin-right: calc(#{$mobile-grid-gutter-width} / -2);
  }
  .row > * {
    padding-left: calc(#{$mobile-grid-gutter-width} / 2);
    padding-right: calc(#{$mobile-grid-gutter-width} / 2);
  }
}

.r-image {
  @include media-breakpoint-up(sm) {
    width: calc(100% + #{$sm-field});
  }
  @include media-breakpoint-up(md) {
    width: calc(100% + #{$md-field});
  }
  @include media-breakpoint-up(lg) {
    width: calc(100% + #{$lg-field});
  }
  @include media-breakpoint-up(xl) {
    width: calc(100% + #{$xl-field});
  }
  @include media-breakpoint-up(xxl) {
    width: calc(100% + #{$xxl-field});
  }
}

.l-image {
  @include media-breakpoint-up(sm) {
    width: calc(100% + #{$sm-field});
    transform: translateX(#{$sm-field-negative});
  }
  @include media-breakpoint-up(md) {
    width: calc(100% + #{$md-field});
    transform: translateX(#{$md-field-negative});
  }
  @include media-breakpoint-up(lg) {
    width: calc(100% + #{$lg-field});
    transform: translateX(#{$lg-field-negative});
  }
  @include media-breakpoint-up(xl) {
    width: calc(100% + #{$xl-field});
    transform: translateX(#{$xl-field-negative});
  }
  @include media-breakpoint-up(xxl) {
    width: calc(100% + #{$xxl-field});
    transform: translateX(#{$xxl-field-negative});
  }
}

.m-r-image {
  @include media-breakpoint-down(sm) {
    width: calc(100% + #{$mobile-container-padding-x});
  }
}

.m-l-image {
  @include media-breakpoint-down(sm) {
    width: calc(100% + #{$mobile-container-padding-x});
    transform: translateX(-#{$mobile-container-padding-x});
  }
}

.m-w-image {
  @include media-breakpoint-down(sm) {
    width: calc(100% + #{$mobile-container-padding-x} + #{$mobile-container-padding-x});
    transform: translateX(-#{$mobile-container-padding-x});
  }
}

