:root {
  --color-accent:   #7DBBFD;

  --color-light:    #fff;
  --color-title:    #e8e8e8;
  --color-text:     #d9d9d9;
  --color-muted:    #8c8c8c;

  --color-bg:        #1A1A1A;
  --color-bg-darker: #141414;
  --color-bg-dark:   #000;
}