extends layout/layout
block title
  title #{title} - Balance
block variables
  -var namespace = 'conception';
  -var name = balance_name;
block content
  section.section.home-screen.home-standart
    .home-screen__gradient.home-standart__gradient
    .home-screen__background
      .image.image_cover.image_mask(data-parralax='0.35' data-parralax-top)
        img(data-src="./img/balance/home.jpg", alt="bg").lazyload
     
    .container.home-screen__container
      .row.home-standart__content
        .home-standart__left.col-xl-6
          span.home-standart__idx(data-parralax='-0.1') 04
          h1.home-standart__title.text-uppercase Inpool BALANCE
          h3.home-standart__slogan 
            span –––– 
            | SPA-бассейн для сохранения вашей молодости и красоты
        .home-standart__play.col-xxl-3.offset-xxl-8.offset-xl-7.col-xl-4.col-auto
          //НУЖНО СДЕЛАТЬ ПРОВЕРКУ, ЕСЛИ ВИДЕО ФАЙЛА НЕ СУЩЕСТВУЕТ - НЕ ВЫВОДИТЬ ЭТУ КНОПКУ. НА ФРОНТЕ Я ОПИРАЮСЬ НА НАЛИЧИЕ ЭТОЙ КНОПКИ.
          a(href="./video/Balance.mp4" data-modal='video' data-barba-prevent).home-standart__play-btn
            .icon-wrap
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#play')
            span Посмотрите видео-презентацию<br> об INPOOL BALANCE

      button.home-standart__scroll-bottom(aria-label='scroll bottom' data-scroll='bottom')
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')

      //categories
      -var bclass = 'home-screen__category-list';
      include blocks/bcategories

  section.section.conception-items
    .container
      .row.conception-items__container
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/1.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Стандартный<br> усиленный фильтр
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/2.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Система управления<br> ASM Control
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/3.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Стандартный<br> противоток
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/4.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Водопад 
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/5.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Гидромассаж
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/6.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Аэромассаж

  section.section.conceptions-slider.slider
    .container
      .row
        .h2.bg-title.col-auto.offset-xxl-6.offset-lg-7(data-parralax='-0.1') Технологии
      .row  
        .conceptions-slider__d-images.order-lg-2.col-xxl-7.col-lg-6.offset-lg-1
          .scene.slider__scene.conceptions-slider__d-images-container.conceptions-slider__d-images-container_style-2
            .image.image_cover
              img(data-src="./img/control.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/connect.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/premium_h.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/evo.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/decor.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/jet.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/led.jpeg", alt="image").lazyload
        .conceptions-slider__slides.col-xxl-4.col-lg-5
          .leaf-message.conceptions-slider__leaf-message
            span Листайте
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#arrow')
          .splide
            .splide__track
              .splide__list
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL ASM Control
                  .conceptions-slider__slide-text
                    p Система интеллектуального управления бассейном.
                    p Позволяет легко создавать сценарии отдыха и температуру бассейна на экране планшета с интуитивным интерфейсом.
                    a(href="#info" data-modal='open').button 
                      span Подробнее
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL ASM Connect
                  .conceptions-slider__slide-text
                    p Система удаленного доступа и диспетчеризации.
                    p Позволяет сервисным службам дистанционно наблюдать за основными параметрами и оперативно реагировать на изменения в системе водоподготовки.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL Deep filtration
                  .conceptions-slider__slide-text
                    p DEEP FILTRATION – самые высокотехнологические фильтра в Европе, диаметром от 600-1200 мм и высоте 1800 мм, именно при таких диаметрах и высоте эффект фильтрации достигает максимально высокого качества воды.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL EVO
                  .conceptions-slider__slide-text
                    p Технология нагрева бассейна. 
                    p Позволяет достичь самых низких эксплуатационных расходов.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title Декоративные элементы и бронзовые закладные 
                  .conceptions-slider__slide-text
                    p Декоративные элементы из нержавеющей стали с красивой трехмерной фактурой придадут эстетический и статусный вид вашему бассейну. 
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL JET
                  .conceptions-slider__slide-text
                    p Технология активного противотока 
                    p Уникальная система противотоков с эффектом плавания в открытом море.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title LED освещение
                  .conceptions-slider__slide-text
                    p Инновационная система самоочистки фильтров бассейна позволяет поддерживать природную чистоту воды без участия человека. 
   
  section.section.conceptions-about
    .container
      .row
        .h2.conceptions-about__bg-title.bg-title.offset-xl-1.col-11(data-parralax='-0.1') Вам подойдёт INPOOL<br> BALANCE, если Вы
      .row.conceptions-about__container
        //item
        .conceptions-about__item.offset-sm-4.offset-lg-0.col-lg-4.col-sm-8
          .row  
            .offset-3.offset-sm-0.col-9
              .image.image_cover.js-distortion
                img(data-src="./img/balance/1.jpg", alt="image").lazyload
          .conceptions-about__item-index 1
          .conceptions-about__item-text
            p Заботитесь о своей красоте и внешности и хотите купаться в природной воде
        //item
        .conceptions-about__item.offset-sm-2.offset-lg-0.col-lg-4.col-sm-8
          .row  
            .offset-3.offset-sm-0.col-9
              .image.image_cover.js-distortion
                img(data-src="./img/balance/2.jpg", alt="image").lazyload
          .conceptions-about__item-index 2
          .conceptions-about__item-text
            p Живете в высоком темпе и хотите восстанавливать силы, чтобы выглядеть великолепно каждый день
        //item
        .conceptions-about__item.offset-sm-4.offset-lg-0.col-lg-4.col-sm-8
          .row  
            .offset-3.offset-sm-0.col-9
              .image.image_cover.js-distortion
                img(data-src="./img/balance/3.jpg", alt="image").lazyload
          .conceptions-about__item-index 3
          .conceptions-about__item-text
            p Не хотите тратить время и деньги на обслуживание бассейна и готовы доверить эту работу профессионалам

  section.section.conceptions-final
    .container
      span.conceptions-final__slogan.conceptions-final__slogan_style-3 С INPOOL BALANCE ваши молодость и<br> красота неподвластны времени 
      .row
        .h2.bg-title.offset-xl-1.col-xl-11(data-parralax='-0.1') INPOOL BALANCE – сила внутренней гармонии
      .row

        .conceptions-final__m-image.offset-xxl-2.offset-md-1.col-xxl-5.col-lg-6.col-md-10
          .image.image_cover.js-distortion.m-w-image
            img(data-src="./img/balance/4.jpg", alt="image").lazyload

        .conceptions-final__content.offset-lg-1.offset-lg-1.offset-md-1.offset-sm-0.offset-3.col-xxl-3.col-lg-4.col-md-10.col-sm-12.col-9
          h2.conceptions-final__title От 80 000 €
          p Зарядитесь энергией воды ранним утром, а поздним вечером снимите напряжение после насыщенного дня
          a(href='#modal-form' data-modal='open').button.conceptions-final__button
            span Это для меня

        .conceptions-final__s-image.offset-lg-0.offset-sm-1.offset-3.order-sm-4.col-lg-3.col-sm-5.col-9
          .image.image_cover.js-distortion.r-image.m-r-image
            img(data-src="./img/balance/5.jpg", alt="image").lazyload

        .conceptions-final__text.conceptions-final__text_style-2.order-sm-3.offset-xxl-6.offset-xl-5.offset-lg-4.col-xxl-3.col-xl-4.col-lg-5.col-sm-6.col-9
          p Бассейны нового поколения с автоматическим управлением и сервисом 24/7
   

  include blocks/form-section