extends layout/layout
block title
  title #{title} - Компоненты
block content
  section.section
    .container
      h1 Заголовок h1
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit cupiditate fugiat aut, assumenda vitae voluptates magni accusamus culpa maiores expedita eaque ut deleniti ea alias illum deserunt! Animi, hic.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam perferendis iste incidunt voluptatem rerum suscipit totam reiciendis adipisci? Commodi explicabo adipisci iusto odit magnam impedit in ipsam, voluptatem saepe aut?
      h2 Заголовок h2
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit cupiditate fugiat aut, assumenda vitae voluptates magni accusamus culpa maiores expedita eaque ut deleniti ea alias illum deserunt! Animi, hic.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam perferendis iste incidunt voluptatem rerum suscipit totam reiciendis adipisci? Commodi explicabo adipisci iusto odit magnam impedit in ipsam, voluptatem saepe aut?
      h3 Заголовок h3
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit cupiditate fugiat aut, assumenda vitae voluptates magni accusamus culpa maiores expedita eaque ut deleniti ea alias illum deserunt! Animi, hic.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam perferendis iste incidunt voluptatem rerum suscipit totam reiciendis adipisci? Commodi explicabo adipisci iusto odit magnam impedit in ipsam, voluptatem saepe aut?
      h4 Заголовок h4
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit cupiditate fugiat aut, assumenda vitae voluptates magni accusamus culpa maiores expedita eaque ut deleniti ea alias illum deserunt! Animi, hic.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam perferendis iste incidunt voluptatem rerum suscipit totam reiciendis adipisci? Commodi explicabo adipisci iusto odit magnam impedit in ipsam, voluptatem saepe aut?
      h5 Заголовок h5
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit cupiditate fugiat aut, assumenda vitae voluptates magni accusamus culpa maiores expedita eaque ut deleniti ea alias illum deserunt! Animi, hic.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam perferendis iste incidunt voluptatem rerum suscipit totam reiciendis adipisci? Commodi explicabo adipisci iusto odit magnam impedit in ipsam, voluptatem saepe aut?
      h6 Заголовок h6
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit cupiditate fugiat aut, assumenda vitae voluptates magni accusamus culpa maiores expedita eaque ut deleniti ea alias illum deserunt! Animi, hic.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam perferendis iste incidunt voluptatem rerum suscipit totam reiciendis adipisci? Commodi explicabo adipisci iusto odit magnam impedit in ipsam, voluptatem saepe aut?
      h2 Компоненты

      .row
        .col-xl-3
          a(href="javascript:void(0);").button 
            span Кнопка
        .col-xl-3
          a(href="#").button-more Кнопка
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')
  