extends layout/layout
block title
  title #{title} - Energy
block variables
  -var namespace = 'conception';
  -var name = energy_name;
block content
  section.section.home-screen.home-standart
    .home-screen__gradient.home-standart__gradient
    .home-screen__background
      .image.image_cover.image_mask(data-parralax='0.35' data-parralax-top)
        img(data-src="./img/energy/home.jpg", alt="bg").lazyload
     
    .container.home-screen__container
      .row.home-standart__content
        .home-standart__left.col-xl-6
          span.home-standart__idx(data-parralax='-0.1') 02
          h1.home-standart__title.text-uppercase Inpool energy
          h3.home-standart__slogan 
            span –––– 
            | поддерживайте тело в идеальном стостоянии
        .home-standart__right.offset-xxl-2.col-xxl-3.offset-xl-1.col-xl-4
          p Инновационные бассейны INPOOL ENERGY с профессиональным противотоком подарят заряд энергии на целый день
        .home-standart__play.col-xxl-3.offset-xxl-8.offset-xl-7.col-xl-4.col-auto
          //НУЖНО СДЕЛАТЬ ПРОВЕРКУ, ЕСЛИ ВИДЕО ФАЙЛА НЕ СУЩЕСТВУЕТ - НЕ ВЫВОДИТЬ ЭТУ КНОПКУ. НА ФРОНТЕ Я ОПИРАЮСЬ НА НАЛИЧИЕ ЭТОЙ КНОПКИ.
          a(href="./video/mixkit-swimmer-practicing-in-the-pool-33192-medium_1.mp4.mp4" data-modal='video' data-barba-prevent).home-standart__play-btn
            .icon-wrap
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#play')
            span Посмотрите видео-презентацию<br> об INPOOL ENERGY

      button.home-standart__scroll-bottom(aria-label='scroll bottom' data-scroll='bottom')
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')

      //categories
      -var bclass = 'home-screen__category-list';
      include blocks/bcategories

  section.section.conception-items
    .container
      .row.conception-items__container
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/1.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Стандартный<br> усиленный фильтр
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/2.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Система управления<br> ASM Control
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/3s.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Спортивный<br> противоток
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/optional.svg", alt="ico").conception-item__optional
          img(src="./img/icons/4.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Водопад 
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/optional.svg", alt="ico").conception-item__optional
          img(src="./img/icons/5.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Гидромассаж
        .conception-item.col-xl-2.col-md-3.col-sm-4.col-6
          img(src="./img/icons/optional.svg", alt="ico").conception-item__optional
          img(src="./img/icons/6.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Аэромассаж

  section.section.conceptions-slider.slider
    .container
      .row
        .h2.bg-title.col-auto.offset-xxl-6.offset-lg-7(data-parralax='-0.1') Технологии
      .row  
        .conceptions-slider__d-images.order-lg-2.col-xxl-7.col-lg-6.offset-lg-1
          .scene.slider__scene.conceptions-slider__d-images-container.conceptions-slider__d-images-container_style-2
            .image.image_cover
              img(data-src="./img/jet.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/control.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/connect.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/premium_h.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/evo.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/decor.jpg", alt="image").lazyload
            .image.image_cover
              img(data-src="./img/led.jpeg", alt="image").lazyload
        .conceptions-slider__slides.col-xxl-4.col-lg-5
          .leaf-message.conceptions-slider__leaf-message
            span Листайте
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#arrow')
          .splide
            .splide__track
              .splide__list
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL JET
                  .conceptions-slider__slide-text
                    p Технология активного противотока 
                    p Уникальная система противотоков с эффектом плавания в открытом море.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL ASM Control
                  .conceptions-slider__slide-text
                    p Система интеллектуального управления бассейном.
                    p Позволяет легко создавать сценарии отдыха и температуру бассейна на экране планшета с интуитивным интерфейсом.
                    a(href="#info" data-modal='open').button 
                      span Подробнее
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL ASM Connect
                  .conceptions-slider__slide-text
                    p Система удаленного доступа и диспетчеризации.
                    p Позволяет сервисным службам дистанционно наблюдать за основными параметрами и оперативно реагировать на изменения в системе водоподготовки.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL Premium
                  .conceptions-slider__slide-text
                    p Технология усиленной фильтрации.
                    p Инновационная система самоочистки фильтров бассейна позволяет поддерживать природную чистоту воды без участия человека. 
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title INPOOL EVO
                  .conceptions-slider__slide-text
                    p Технология нагрева бассейна. 
                    p Позволяет достичь самых низких эксплуатационных расходов.
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title Декоративные элементы и бронзовые закладные 
                  .conceptions-slider__slide-text
                    p Декоративные элементы из нержавеющей стали с красивой трехмерной фактурой придадут эстетический и статусный вид вашему бассейну. 
                //slide
                .splide__slide.conceptions-slider__slide
                  h3.conceptions-slider__slide-title LED освещение
                  .conceptions-slider__slide-text
                    p Инновационная система самоочистки фильтров бассейна позволяет поддерживать природную чистоту воды без участия человека. 
        
  section.section.conceptions-about
    .container
      .row
        .h2.conceptions-about__bg-title.bg-title.offset-xl-1.col-11(data-parralax='-0.1') Вам подойдёт INPOOL<br> ENERGY, если Вы 
      .row.conceptions-about__container

        //item
        .conceptions-about__item.offset-sm-4.offset-lg-0.col-lg-4.col-sm-8
          .row  
            .offset-3.offset-sm-0.col-9
              .image.image_cover.js-distortion
                img(data-src="./img/energy/1.jpg", alt="image").lazyload
          .conceptions-about__item-index 1
          .conceptions-about__item-text
            p Хотите профессионально заниматься спортом, не выходя из дома

        //item
        .conceptions-about__item.offset-sm-2.offset-lg-0.col-lg-4.col-sm-8
          .row  
            .offset-3.offset-sm-0.col-9
              .image.image_cover.js-distortion
                img(data-src="./img/energy/2.jpg", alt="image").lazyload
          .conceptions-about__item-index 2
          .conceptions-about__item-text
            p Хотите отточить свою технику плавания и улучшить координацию движений, синхронность и другие показатели
            
        //item
        .conceptions-about__item.offset-sm-4.offset-lg-0.col-lg-4.col-sm-8
          .row  
            .offset-3.offset-sm-0.col-9
              .image.image_cover.js-distortion
                img(data-src="./img/energy/3.jpg", alt="image").lazyload
          .conceptions-about__item-index 3
          .conceptions-about__item-text
            p Хотите иметь индивидуальное пространство для тренировок, где не нужно никому уступать дорожку

  section.section.conceptions-final
    .container
      span.conceptions-final__slogan.conceptions-final__slogan_style-3 INPOOL ENERGY –  помогает побеждать
      .row
        .h2.bg-title.offset-xl-1.col-xl-11(data-parralax='-0.1') INPOOL ENERGY  – <br>сила вашей энергии
      .row

        .conceptions-final__m-image.offset-xxl-2.offset-md-1.col-xxl-5.col-lg-6.col-md-10
          .image.image_cover.js-distortion
            img(data-src="./img/energy/4.jpg", alt="image").lazyload

        .conceptions-final__content.offset-lg-1.offset-lg-1.offset-md-1.offset-sm-0.offset-3.col-xxl-3.col-lg-4.col-md-10.col-sm-12.col-9
          h2.conceptions-final__title От 70 000 €
          p INPOOL ENERGY - вечная молодость, энергия и драйв. Будьте лучшим во всем. 
          a(href='#modal-form' data-modal='open').button.conceptions-final__button
            span Согласен

        .conceptions-final__s-image.order-lg-4.conceptions-final__s-image_style-2.col-lg-3.col-sm-5.col-9
          .image.image_cover.js-distortion
            img(data-src="./img/energy/5.jpg", alt="image").lazyload

        .conceptions-final__text.conceptions-final__text_style-2.order-lg-3.offset-xxl-6.offset-xl-5.offset-lg-4.offset-sm-1.offset-3.col-xxl-3.col-xl-4.col-lg-5.col-sm-6.col-9
          p Плавание - самый приятный и легкий способ прийти в форму. Поддерживайте идеальную спортивную форму с INPOOL ENERGY
   

  include blocks/form-section