extends layout/layout
block title
  title #{title} - Оборудование
block variables
  -var namespace = equipment_namespace;
block content
  section.section.home-screen
    .wave-scene(data-images='./img/equipment.jpg' data-parralax='0.35')
    .home-screen__gradient
    .container.home-screen__container
      .row.home-screen__content
        .home-screen__left.col-xl-6
          h1 Дополнительное оборудование
        .home-screen__right.offset-xl-2.col-xl-4
          p Создавайте индивидуальные сценарии использования бассейна с передовой системой управления INPOOL ASM Control.
      button.home-screen__scroll-bottom.scroll-bottom
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')

  section.section.equipment-section
    .container
      .row.equipment-section__row
        .col-xl-5.offset-xl-1.equipment-section__image.equipment-section__image_size-1
          .image.image_cover.js-distortion
            img(data-src="./img/camille-brodard-kmile-feminine-creative-designer-VxAwTeiqDao-unsplash 1.jpg", alt="image").lazyload
        .col-xl-4.offset-xl-1.equipment-section__text
          h2.equipment-section__title Спа технологии
          p Подарите себе незабываемые моменты отдыха и релаксации. Создайте неповторимый оазис блаженства и расслабления. Укрепляйте иммунитет, сохраняйте молодость и красоту с помощью естественных сил природы, воплощенных в передовых SPA-технологиях от INPOOL CONCEPT.

  section.section.equipment-section
    .container
      .row.equipment-section__row
        .col-xl-4.offset-xl-1.equipment-section__text
          h2.equipment-section__title Жалюзийные покрытия
          p Автоматические жалюзийные покрытия с дистанционным управлением  при помощи системы ASM Control и возможностью установки таймера на открытие и закрытие. Сокращают затраты на подогрев, дезинфекцию до 40 % и  уменьшают расход воды до 30%. Безопасность при использовании для детей и животных, покрытие выдерживает вес до 100 кг.
        .col-xl-5.offset-xl-1.equipment-section__image.equipment-section__image_size-2
          .image.image_cover.js-distortion
            img(data-src="./img/2 (6) 1.jpg", alt="image").lazyload

  section.section.equipment-section
    .container
      .row.equipment-section__row
        .col-xl-4.equipment-section__image.equipment-section__image_size-3
          .image.image_cover.js-distortion
            img(data-src="./img/ssafsff.jpg", alt="image").lazyload
        .col-xl-4.offset-xl-1.equipment-section__text
          h2.equipment-section__title Аттракционы и развлечения
          p Подарите себе незабываемые моменты отдыха и релаксации. Создайте неповторимый оазис блаженства и расслабления. Укрепляйте иммунитет, сохраняйте молодость и красоту с помощью естественных сил природы, воплощенных в передовых SPA-технологиях от INPOOL CONCEPT.

  section.section.equipment-section
    .container
      .row.equipment-section__row
        .col-xl-4.offset-xl-1.equipment-section__text
          h2.equipment-section__title Гидромассажные бассейны
          p Гидромассажные бассейны мирового уровня станут центром притяжения всей семьи. Гармоничная комбинация комфортного тепла, оздоровления и безупречного массажа поможет расслабиться после напряженного дня.
        .col-xl-6.offset-xl-1.equipment-section__image.equipment-section__image_size-4
          .image.image_cover.js-distortion
            img(data-src="./img/56563132beec7deec412ca00c175c4d8.png", alt="image").lazyload


          