extends layout/layout
block title
  title #{title} - Оборудование
block variables
  -var namespace = 'equipment';
  -var name = equipment_name;
block content
  section.section.home-screen.home-standart
    .home-screen__gradient.home-standart__gradient
    .home-screen__background
      .home-screen__scene.scene(data-parralax='0.35' data-parralax-top)
        .image.image_cover
          img(data-src="./img/equipment.jpg", alt="image").lazyload
      
    .container.home-screen__container
      .row.home-standart__content
        .home-standart__left.col-xl-6
          h1.home-standart__title Дополнительное оборудование
        .home-screen__right.offset-xxl-2.col-xxl-4.offset-xl-1.col-xl-5
          p Дополните выбранный концепт важными деталями

      button.home-standart__scroll-bottom(aria-label='scroll bottom' data-scroll='bottom')
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')

  section.section.image-section.equipment1-section
    .container
      .row.align-items-lg-center.section__content
        .col-xl-5.offset-xl-1.image-section__image.equipment1-section__image
          .image.image_cover.js-distortion
            img(data-src="./img/equipment/1.jpg", alt="image").lazyload
        .col-xxl-4.col-xl-5.offset-xl-1.image-section__text
          h2 Спа технологии
          p Подарите себе незабываемые моменты отдыха и релаксации. Создайте неповторимый оазис блаженства и расслабления. Укрепляйте иммунитет, сохраняйте молодость и красоту с помощью естественных сил природы, воплощенных в передовых SPA-технологиях от INPOOL CONCEPT.

  section.section.image-section.equipment2-section
    .container
      .row.align-items-lg-center.section__content
        .order-xl-2.offset-xl-1.col-xl-5.image-section__image.equipment2-section__image
          .image.image_cover.js-distortion
            img(data-src="./img/equipment/2.jpg", alt="image").lazyload
        .order-xl-1.offset-xxl-1.col-xxl-4.col-xl-5.offset.image-section__text
            h2 Жалюзийные покрытия
            p Автоматические жалюзийные покрытия с дистанционным управлением  при помощи системы ASM Control и возможностью установки таймера на открытие и закрытие. Сокращают затраты на подогрев, дезинфекцию до 40 % и  уменьшают расход воды до 30%. Безопасность при использовании для детей и животных, покрытие выдерживает вес до 100 кг.

  section.section.image-section.equipment3-section
    .container
      .row.align-items-lg-center.section__content
        .col-xxl-4.col-xl-5.offset-xxl-0.offset-xl-1.image-section__image.equipment3-section__image
          .image.image_cover.js-distortion
            img(data-src="./img/equipment/3.jpg", alt="image").lazyload
        .col-xxl-4.col-xl-5.offset-xl-1.image-section__text
          h2 Аттракционы и развлечения
          p Подарите себе незабываемые моменты отдыха и релаксации. Создайте неповторимый оазис блаженства и расслабления. Укрепляйте иммунитет, сохраняйте молодость и красоту с помощью естественных сил природы, воплощенных в передовых SPA-технологиях от INPOOL CONCEPT.

  section.section.image-section.equipment4-section
    .container
      .row.align-items-lg-center.section__content
        .col-xl-6.order-xl-2.offset-xl-1.image-section__image.equipment4-section__image
          .image.image_cover.js-distortion
            img(data-src="./img/equipment/4.jpg", alt="image").lazyload
        .col-xxl-4.col-xl-5.offset-xxl-1.order-xl-1.image-section__text
          h2 Гидромассажные бассейны
          p Гидромассажные бассейны мирового уровня станут центром притяжения всей семьи. Гармоничная комбинация комфортного тепла, оздоровления и безупречного массажа поможет расслабиться после напряженного дня.

  include blocks/form-section