extends layout/layout
block title
  title #{title} - Сетка
block content
  .grid 
    .grid__background
      .container.grid__container
        .row.grid__row
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
    .grid__content
      .container
        .row
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-1.col-sm-3.col-6
            .grid-block__container
          .grid-block.col-lg-2.col-md-4.col-6
            .grid-block__container
          .grid-block.col-lg-2.col-md-4.col-6
            .grid-block__container
          .grid-block.col-lg-2.col-md-4.col-6
            .grid-block__container
          .grid-block.col-lg-2.col-md-4.col-6
            .grid-block__container
          .grid-block.col-lg-2.col-md-4.col-6
            .grid-block__container
          .grid-block.col-lg-2.col-md-4.col-6
            .grid-block__container
          .grid-block.col-lg-3.col-md-6.col-6
            .grid-block__container
          .grid-block.col-lg-3.col-md-6.col-6
            .grid-block__container
          .grid-block.col-lg-3.col-md-6.col-6
            .grid-block__container
          .grid-block.col-lg-3.col-md-6.col-6
            .grid-block__container
          .grid-block.col-lg-4.col-md-6.col-6
            .grid-block__container
          .grid-block.col-lg-4.col-md-6.col-6
            .grid-block__container
          .grid-block.col-lg-4.col-6
            .grid-block__container
          .grid-block.col-lg-6.col-6
            .grid-block__container
          .grid-block.col-lg-6.col-6
            .grid-block__container

