extends layout/layout
block title
  title #{title} - Сетка
block content
  link(rel="stylesheet" href="./styles/grid.css")
  .grid 
    .grid__background
      .container.grid__container
        .row.grid__row
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
    