extends layout/layout
block title
  title #{title} - Главная
block variables
  -var namespace = home_namespace;
block content
  include blocks/home
  include blocks/home-about
  include blocks/conceptions
  include blocks/contacts