extends layout/layout
block title
  title #{title} - Главная
block variables
  -var namespace = 'home';
  -var name = home_name;
block content
  include blocks/home
  include blocks/home-about
  include blocks/conceptions
  include blocks/personal-form

  section.section.technologies-slider.slider
    .scene.slider__scene.technologies-slider__scene
      .image.image_cover.technologies-slider__image
        img(data-src="./img/technologiesslider/1.jpg", alt="image").lazyload
      .image.image_cover.technologies-slider__image
        img(data-src="./img/technologiesslider/2.jpg", alt="image").lazyload
      .image.image_cover.technologies-slider__image
        img(data-src="./img/technologiesslider/3.jpg", alt="image").lazyload

    //content
    .container
      .technologies-slider__content
        h6.technologies-slider__title Оцените наши технологии
        //slider
        .splide.technologies-slider__slider
          .splide__track
            .splide__list
              //slide
              .splide__slide.technologies-slider__slide
                h2.technologies-slider__slide-title Усиленная фильтрации INPOOL&nbsp;Premium
                p Кристальная чистота воды, низкое содержание химикатов, максимальная естественность воды обеспечивается благодаря усиленной фильтрации INPOOL Premium
              //slide
              .splide__slide.technologies-slider__slide
                h2.technologies-slider__slide-title Быстрый нагрев INPOOL&nbsp;EVO
                p Кристальная чистота воды, низкое содержание химикатов, максимальная естественность воды обеспечивается благодаря усиленной фильтрации INPOOL Premium
              //slide
              .splide__slide.technologies-slider__slide
                h2.technologies-slider__slide-title Пошаговая дезинфекции AOP&nbsp;INPOOL
                p Вы получаете максимальный эффект от дезинфекции при минимальном использовании химических средств, наслаждаясь  природной водой.
          .technologies-slider__idx.slider__idx
            span 01
            span 02
            span 03
        //
        a(href=technology).button.button_ico.technologies-slider__button
          span Подробнее 
            span.d-none.d-sm-inline о технологиях
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')
  include blocks/contacts