extends layout/layout
block title
  title #{title} - Главная
block variables
  -var namespace = 'home';
  -var name = home_name;
block content
  include blocks/home
  include blocks/home-about
  include blocks/conceptions
  include blocks/personal-form
  include blocks/contacts