extends layout/layout
block title
  title #{title} - Портфолио
block variables
  -var namespace = 'portfolio';
  -var name = portfolio_name;
block content
  section.section.portfolio
    .container
      .portfolio__head
        h1.portfolio__title Портфолио
        p.portfolio__slogan Работы, проверенные временем
      
      section.section.portfolio-section
        h2.bg-title(data-parralax='-0.1') 55°50'22" N, 37°0'29" E
        .row.section__content
          .h2.portfolio-section__title.col-xxl-4.offset-xxl-8.col-xl-5.offset-xl-7 
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#point')
            | Никольские озёра
          .portfolio-section__scene.col-xxl-7.col-xl-6
            .portfolio-section__scene-container
          
          .portfolio-section__text.col-xxl-4.col-xl-5.offset-xl-1
            p Проект выполнен компанией - POOLS BOUTIQUE
            p Объект находится в КП Никольские озера Московской области.
            p Размер бассейна 18х6 неправильной формы, с мелкой зоной для детей.
            p Фильтрация INPOOL OPTIMA с автоматической промывкой, УФ низкого давления, автоматическая система дозации.
            p Аттракционы - противоток, гидромассаж стеновой на 4 форсунки.

          .portfolio-section__slider.col-12
            .splide
              .splide__track
                .splide__list
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='0')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/1.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='1')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/2.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='2')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/3.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='3')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/4.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='4')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/5.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='5')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/6.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='6')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/ozera/7.jpg", alt="image").lazyload

      section.section.portfolio-section
        h2.bg-title.text-right(data-parralax='-0.1') 55°44'5" N, 37°8'54" E
        .row.section__content
          .h2.portfolio-section__title.col-xxl-4.col-xl-5
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#point')
            | Знаменское
          .portfolio-section__scene.col-xxl-7.col-xl-6.offset-xl-1.order-xl-2
            .portfolio-section__scene-container
          
          .portfolio-section__text.col-xxl-4.col-xl-5.order-xl-1
            p Проект выполнен компанией - Центр Бассейнов
            p Объект находится в посёлке Знаменское Московской области.
            p Размер бассейна 10х3
            p Фильтрация INPOOL WATERCARE с автоматической промывкой, УФ низкого давления, автоматическая система дозации.
            p Аттракционы - противоток.
            p Жалюзийное покрытие Rollo Solar в подводном исполнении.

          .portfolio-section__slider.col-12.order-xl-3
            .splide
              .splide__track
                .splide__list
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='0')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/1.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='1')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/2.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='2')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/3.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='3')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/4.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='4')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/5.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='5')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/6.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='6')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/znamenskoe/7.png", alt="image").lazyload

      section.section.portfolio-section
        h2.bg-title(data-parralax='-0.1') 55°50'22" N, 37°0'29" E
        .row.section__content
          .h2.portfolio-section__title.col-xxl-4.offset-xxl-8.col-xl-5.offset-xl-7 
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#point')
            | Аносино
          .portfolio-section__scene.col-xxl-7.col-xl-6
            .portfolio-section__scene-container
          
          .portfolio-section__text.col-xxl-4.col-xl-5.offset-xl-1
            p Проект выполнен компанией - Центр Бассейнов
            p Объект находится в посёлке Аносино Московской области.
            p Размер бассейна 11х3
            p Встроенная СПА из бетона диаметром 2,2 метра со встроенной системой аэро и гидромассажа
            p Фильтрация INPOOL Premium с автоматической промывкой, УФ низкого давления, автоматическая система дозации.
            p Удаленная система мониторинга за оборудованием бассейна INPOOL ASM Control

          .portfolio-section__slider.col-12
            .splide
              .splide__track
                .splide__list
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='0')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/anosino/1.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='1')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/anosino/2.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='2')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/anosino/3.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='3')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/anosino/4.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='4')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/anosino/5.jpg", alt="image").lazyload
                  //slide
                  .splide__slide.portfolio-section__slide(data-index='5')
                    .image.image_cover.jsTouchHover
                      img(data-src="./img/portfolio/anosino/6.jpg", alt="image").lazyload

