extends layout/layout
block title
  title #{title} - Power
block variables
  -var namespace = power_namespace;
block content
  section.section.home-screen
    .video-scene.image.image_cover
      //img(data-src="./img/9r0jNz.png", alt="bg").lazyload(data-parralax='0.35')
      //contols
      .video-scene__controls.container
        a(href="javascript:void(0);").video-scene__close
        .video-scene__timeline
          span

      video.video-scene__player(data-parralax='0.35')
        source(src="./video/mixkit-swimmer-practicing-in-the-pool-33192-medium_1.mp4.mp4" type="video/mp4")
    .home-screen__gradient
    .container.home-screen__container
      .row.home-screen__content
        .home-screen__left.col-xl-6
          span.home-screen__idx 01
          h1.home-screen__title.text-uppercase Inpool power
          p.home-screen__slogan управляйте миром
        .home-screen__right.offset-xxl-2.col-xxl-4.offset-xxl-1.col-xl-5
          p INPOOL POWER - ваше персональное место силы.
        .home-screen__play.col-xxl-4.col-xl-5
          a(href="javascript:void(0);").home-screen__play-btn
            svg.icon
              use(xlink:href='./img/icons/icons-sprite.svg#play')
            span Посмотрите видео-презентацию<br> об INPOOL POWER

      button.home-screen__scroll-bottom.scroll-bottom
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')
  
  section.section(style='height:1000px')

    