extends layout/layout
block title
  title #{title} - Power
block variables
  -var namespace = 'conception';
  -var name = power_name;
block content
  section.section.home-screen.home-standart
    .home-screen__gradient.home-standart__gradient
    .home-screen__background
      .image.image_cover(data-parralax='0.35' data-parralax-top)
        img(data-src="./img/power/home.jpg", alt="bg").lazyload
     
    .container.home-screen__container
      .row.home-standart__content
        .home-standart__left.col-xl-6
          span.home-standart__idx(data-parralax='-0.1') 01
          h1.home-standart__title.text-uppercase Inpool power
          h3.home-standart__slogan 
            span –––– 
            | бассейн с искусственным интеллектом
        .home-standart__right.offset-xxl-2.col-xxl-3.offset-xl-1.col-xl-4
          p INPOOL POWER - ваше персональное место силы
        .home-standart__play.col-xxl-3.offset-xxl-8.offset-xl-7.col-xl-4.col-auto
          //НУЖНО СДЕЛАТЬ ПРОВЕРКУ, ЕСЛИ ВИДЕО ФАЙЛА НЕ СУЩЕСТВУЕТ - НЕ ВЫВОДИТЬ ЭТУ КНОПКУ. НА ФРОНТЕ Я ОПИРАЮСЬ НА НАЛИЧИЕ ЭТОЙ КНОПКИ.
          a(href="./video/mixkit-swimmer-practicing-in-the-pool-33192-medium_1.mp4.mp4" data-modal='video' data-barba-prevent).home-standart__play-btn
            .icon-wrap
              svg.icon
                use(xlink:href='./img/icons/icons-sprite.svg#play')
            span Посмотрите видео-презентацию<br> об INPOOL POWER

      button.home-standart__scroll-bottom(aria-label='scroll bottom' data-scroll='bottom')
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')

      //categories
      -var bclass = 'home-screen__category-list';
      include blocks/bcategories
    
  

      
  
  section.section.conception-items
    .container
      .row.conception-items__container
        .conception-item.col-xl-2
          img(src="./img/icons/1.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Фильтр с самым<br> высоким КПД
        .conception-item.col-xl-2
          img(src="./img/icons/2.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Система управления<br> ASM Control
        .conception-item.col-xl-2
          img(src="./img/icons/3.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Стандартный<br> противоток
        .conception-item.col-xl-2
          img(src="./img/icons/4.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Водопад 
        .conception-item.col-xl-2
          img(src="./img/icons/5.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Гидромассаж
        .conception-item.col-xl-2
          img(src="./img/icons/6.svg", alt="ico").conception-item__icon
          h2.h6.conception-item__title Аэромассаж

  section.section.conceptions-slider
    .container
      .row
        .h2.bg-title.offset-xl-1.col-11(data-parralax='-0.1') Технологии
      .row
        .conceptions-slider__d-images.col-xxl-7.col-xl-6
          .scene.conceptions-slider__d-images-container.conceptions-slider__d-images-container_style-1
        .conceptions-slider__slides.col-xxl-4.col-xl-5.offset-xl-1
          .splide
            .splide__track
              .splide__list
                //slide
                .splide__slide.conceptions-slider__slide
                  .image.image_cover
                    img(data-src="./img/control.jpg", alt="image")
                  h2.conceptions-slider__slide-title INPOOL ASM Control
                  .conceptions-slider__slide-text
                    p Система интеллектуального управления бассейном.
                    p Позволяет легко создавать сценарии отдыха и температуру бассейна на экране планшета с интуитивным интерфейсом.
                    a(href='#info' data-modal='open').button 
                      span Подробнее
                //slide
                .splide__slide.conceptions-slider__slide
                  .image.image_cover
                    img(data-src="./img/connect.jpg", alt="image")
                  h2.conceptions-slider__slide-title INPOOL ASM Connect
                  .conceptions-slider__slide-text
                    p Система удаленного доступа и диспетчеризации.
                    p Позволяет сервисным службам дистанционно наблюдать за основными параметрами и оперативно реагировать на изменения в системе водоподготовки.
                //slide
                .splide__slide.conceptions-slider__slide
                  .image.image_cover
                    img(data-src="./img/premium_h.jpg", alt="image")
                  h2.conceptions-slider__slide-title INPOOL Premium
                  .conceptions-slider__slide-text
                    p Технология усиленной фильтрации.
                    p Инновационная система самоочистки фильтров бассейна позволяет поддерживать природную чистоту воды без участия человека. 
                //slide
                .splide__slide.conceptions-slider__slide
                  .image.image_cover
                    img(data-src="./img/evo.jpg", alt="image")
                  h2.conceptions-slider__slide-title INPOOL EVO
                  .conceptions-slider__slide-text
                    p Технология нагрева бассейна. 
                    p Позволяет достичь самых низких эксплуатационных расходов.
                //slide
                .splide__slide.conceptions-slider__slide
                  .image.image_cover
                    img(data-src="./img/jet.jpg", alt="image")
                  h2.conceptions-slider__slide-title INPOOL JET
                  .conceptions-slider__slide-text
                    p Технология активного противотока 
                    p Уникальная система противотоков с эффектом плавания в открытом море.
                //slide
                .splide__slide.conceptions-slider__slide
                  .image.image_cover
                    img(data-src="./img/decor.jpg", alt="image")
                  h2.conceptions-slider__slide-title Декоративные элементы и бронзовые закладные 
                  .conceptions-slider__slide-text
                    p Декоративные элементы из нержавеющей стали с красивой трехмерной фактурой придадут эстетический и статусный вид вашему бассейну. 

  section.section.conceptions-about
    .container
      .row
        .h2.conceptions-about__bg-title.bg-title.offset-xl-1.col-11(data-parralax='-0.1') Вам подойдёт INPOOL<br> POWER, если Вы 
      .row.conceptions-about__container
        //item
        .conceptions-about__item.col-xl-4
          .row  
            .col-xl-9
              .image.image_cover.js-distortion
                img(data-src="./img/power/1.jpg", alt="image").lazyload
          .conceptions-about__item-index 1
          .conceptions-about__item-text
            p Хотите создать собственное пространство для поддержания здоровья и хорошей физической формы
        //item
        .conceptions-about__item.col-xl-4
          .row  
            .col-xl-9
              .image.image_cover.js-distortion
                img(data-src="./img/power/2.jpg", alt="image").lazyload
          .conceptions-about__item-index 2
          .conceptions-about__item-text
            p Хотите иметь источник энергии, помогающий достигать более амбициозных целей 
        //item
        .conceptions-about__item.col-xl-4
          .row  
            .col-xl-9
              .image.image_cover.js-distortion
                img(data-src="./img/power/3.jpg", alt="image").lazyload
          .conceptions-about__item-index 3
          .conceptions-about__item-text
            p Цените свое время и готовы доверить профессионалам заботу о вашем бассейне

  section.section.conceptions-final
    .container
      span.conceptions-final__slogan.conceptions-final__slogan_style-1 INPOOL POWER – максимально<br> оснащенный бассейн
      .row
        .h2.bg-title.offset-xl-1.col-11(data-parralax='-0.1') INPOOL POWER  – <br> сила вашей власти
      .row
        .conceptions-final__content.col-xl-4.offset-xl-1
          h2.conceptions-final__title От 100 000 €
          p Пришло время создать свое место силы
          a(href='#modal-form' data-modal='open').button.conceptions-final__button
            span Это мой выбор
        .conceptions-final__m-image.col-xxl-5.col-xl-6
          .image.image_cover.js-distortion
            img(data-src="./img/power/4.jpg", alt="image").lazyload
        .conceptions-final__s-image.conceptions-final__s-image_style-1.col-xl-3
          .image.image_cover.js-distortion
            img(data-src="./img/power/5.jpg", alt="image").lazyload
        .conceptions-final__text.col-xl-3
          p Искусственный интеллект и лучшие мировые технологии позволили создать по-настоящему инновационный бассейн

  include blocks/form-section