extends layout/layout
block title
  title #{title} - Политика конфиденциальности
block content
  section.section
    .container
      h1.page-title Политика конфеденциальности
      h4 1. Общие положения
      p 1.1. Использование Сервиса в любой форме означает безоговорочное согласие Пользователя с условиями настоящей Политики конфиденциальности и указанными в ней условиями обработки его персональной информации. В случае несогласия с условиями Политики конфиденциальности Пользователь должен воздержаться от использования Сервиса.
      p 1.2. Политика конфиденциальности (в том числе любая из ее частей) может быть изменена Администрацией без какого-либо специального уведомления и без выплаты какой-либо компенсации в связи с этим. Новая редакция Политики конфиденциальности вступает в силу с момента ее размещения на сайте Администрации.
      p 1.3. Принимая условия настоящей Политики, Пользователь выражает свое согласие на обработку Администрацией данных о Пользователе в целях, предусмотренных настоящей Политикой, а также на передачу данных о Пользователе третьим лицам в случаях, перечисленных в настоящей Политике.
      p Указанное согласие может быть отозвано Пользователем только при условии письменного уведомления им Администрации не менее чем за 180 дней до предполагаемой даты прекращения использования данных Администрацией.
      p Использование Сервиса с помощью веб-браузера, который принимает данные из cookies, означает 