extends layout/layout
block title
  title #{title} - Технологиии
block variables
  -var namespace = technology_namespace;
block content
  section.section.home-screen
    .wave-scene(data-images='./img/technology/home.jpg' data-parralax='0.35')
    .home-screen__gradient
    .container.home-screen__container
      .row.home-screen__content
        .home-screen__left.col-xl-5
          h1.h2.home-screen__title Оцените технологическое совершенство INPOOL CONCEPT
        .home-screen__right.offset-xxl-2.col-xxl-4.offset-xxl-1.col-xl-5
          p Создавайте индивидуальные сценарии использования бассейна с передовой системой управления INPOOL ASM Control.
      button.home-screen__scroll-bottom.scroll-bottom
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#bottom-arrow')