link(rel="stylesheet" href="./styles/grid.css")
section.section.conceptions
  //
  .grid 
    .grid__background
      .container.grid__container
        .row.grid__row
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
          .col-1.grid__col
  //
  .conceptions__head
    .container
      .row
        .h2.bg-title.offset-xl-6.col-xl-6.col-lg-auto.offset-lg-5.conceptions__bg-title(data-parralax='-0.1') 4 концепции
        p.conceptions__head-text.col-xl-3.offset-xl-8.col-lg-4.offset-lg-7.col-md-5.col-9.offset-2 Испытайте настоящее единение с водной стихией, погрузившись в атмосферу INPOOL CONCEPT
      .leaf-message.conceptions__leaf-message-top
        span Листайте
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#arrow')

  .conceptions__slider#conceptions-slider
    .conceptions__slider-container
      .conceptions__slider-scroller
        .conceptions__slider-wrapper.container
          .conceptions__slides
            //slide
            .conceptions-slide.container
              .conceptions-slide__content
                //
                .conceptions-slide__dec 
                  .conceptions-slide__dec-val
                    span p
                  .conceptions-slide__dec-line
                //
                .conceptions-slide__index.conceptions-slide__index_1
                  .conceptions-slide__value 0
                    span.conceptions-slide__value-index
                      span.conceptions-slide__value-index-prev 0
                      span.conceptions-slide__value-index-current 1
                      span.conceptions-slide__value-index-next 2
                  .conceptions-slide__count /4
                //
                .conceptions-slide__s-image.conceptions-slide__s-image_1.image.image_cover
                  img(data-src='./img/slider/1.jpg', alt="image").lazyload
                //
                .conceptions-slide__m-image.conceptions-slide__m-image_1.image.image_cover
                  img(data-src='./img/slider/2.jpg', alt="image").lazyload
                //
                p.conceptions-slide__text.conceptions-slide__text_1 Концепция, направленная на восстановление энергии и укрепление здоровья
                //
                .conceptions-slide__slogan.conceptions-slide__slogan_1 Ваше место силы
                //
                h2.h1.conceptions-slide__title.conceptions-slide__title_1(data-splitting) Inpool power
                //
                a(href=power).button.button_ico.conceptions-slide__button 
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')

            //slide
            .conceptions-slide.container
              .conceptions-slide__content
                //
                .conceptions-slide__dec 
                  .conceptions-slide__dec-val
                    span e
                  .conceptions-slide__dec-line
                //
                .conceptions-slide__index.conceptions-slide__index_2
                  .conceptions-slide__value 0
                    span.conceptions-slide__value-index
                      span.conceptions-slide__value-index-prev 1
                      span.conceptions-slide__value-index-current 2
                      span.conceptions-slide__value-index-next 3
                  .conceptions-slide__count /4
                //
                .conceptions-slide__m-image.conceptions-slide__m-image_2.image.image_cover
                  img(data-src='./img/slider/3.jpg', alt="image").lazyload
                //
                p.conceptions-slide__text.conceptions-slide__text_2 Бассейн со спортивным противотоком для профессиональных тренировок
                //
                .conceptions-slide__slogan.conceptions-slide__slogan_2 Поддерживайте тело<br> в идеальном состоянии
                //
                h2.h1.conceptions-slide__title.conceptions-slide__title_2(data-splitting) Inpool ENERGY
                //
                a(href=energy).button.button_ico.conceptions-slide__button
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')
                  
            //slide
            .conceptions-slide.container
              .conceptions-slide__content
                //
                .conceptions-slide__dec 
                  .conceptions-slide__dec-val
                    span f
                  .conceptions-slide__dec-line
                //
                .conceptions-slide__index.conceptions-slide__index_3
                  .conceptions-slide__value 0
                    span.conceptions-slide__value-index
                      span.conceptions-slide__value-index-prev 2
                      span.conceptions-slide__value-index-current 3
                      span.conceptions-slide__value-index-next 4
                  .conceptions-slide__count /4
                //
                .conceptions-slide__m-image.conceptions-slide__m-image_3.image.image_cover
                  img(data-src='./img/slider/4.jpg', alt="image").lazyload
                //
                p.conceptions-slide__text.conceptions-slide__text_3 Бассейн с развлечениями для всей семьи
                //
                .conceptions-slide__s-image.conceptions-slide__s-image_3.image.image_cover
                  img(data-src='./img/slider/5.jpg', alt="image").lazyload
                //
                .conceptions-slide__slogan.conceptions-slide__slogan_3 Больше 20 сценариев отдыха<br> для взрослых и детей
                //
                h2.h1.conceptions-slide__title.conceptions-slide__title_3(data-splitting) Inpool Family
                //
                a(href=family).button.button_ico.conceptions-slide__button
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')



            //slide
            .conceptions-slide.container
              .conceptions-slide__content
                //
                .conceptions-slide__dec 
                  .conceptions-slide__dec-val
                    span b
                  .conceptions-slide__dec-line
                //
                .conceptions-slide__index.conceptions-slide__index_4
                  .conceptions-slide__value 0
                    span.conceptions-slide__value-index
                      span.conceptions-slide__value-index-prev 3
                      span.conceptions-slide__value-index-current 4
                      span.conceptions-slide__value-index-next 5
                  .conceptions-slide__count /4
                //
                .conceptions-slide__m-image.conceptions-slide__m-image_4.image.image_cover
                  img(data-src='./img/slider/6.jpg', alt="image").lazyload
                //
                p.conceptions-slide__text.conceptions-slide__text_4 SPA-концепция, направленная на сохранение вашей молодости и красоты
                //
                .conceptions-slide__slogan.conceptions-slide__slogan_4 Подарите себе незабываемые<br> моменты отдыха и релаксации
                //
                h2.h1.conceptions-slide__title.conceptions-slide__title_4(data-splitting) Inpool Balance
                //
                a(href=balance).button.button_ico.conceptions-slide__button
                  span Подробнее
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')
        
          
      //scale
      .conceptions__bottom.container
        .conceptions__scale
          span
        .leaf-message.conceptions__leaf-message-bottom
          span Листайте
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#arrow')
