section.section.contacts  
  .contacts__map
    iframe.contacts__map(data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.347800229!2d36.82511018697867!3d55.58152438542563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sua!4v1605699083673!5m2!1sru!2sua").lazyload
  .container.contacts__container
    .row.justify-content-center
      .col-xl-6
        .contacts-block 
          .container  
            h6.contacts-block__title Наши контакты
            .contacts__select
              //h2.contacts-block__value Москва
              select.select 
                option(value='Москва' selected) Москва
                option(value='Санкт-Петербург') Санкт-Петербург
                option(value='Краснодар') Краснодар
                option(value='Тула') Тула
                option(value='Липецк') Липецк
                option(value='Воронеж') Воронеж
                option(value='Орёл') Орёл
                option(value='Казань') Казань
                option(value='Екатеринбург') Екатеринбург
                
            .contacts-block__contents
              //content
              .contacts-block__content
                .contacts-block__item WATER ELEMENTS
                .contacts-block__item 
                  a(href="tel:+74953746744") +7 495 374 67 44
                .contacts-block__item 115419, Москва, ул.Шаболовка, 34с5. БЦ Матрикс
                .contacts-block__item 
                  a(href="https://waterelements.ru/" rel='nofollow' target='_blank') waterelements.ru

    .contacts__button
      a(href="#modal-form" data-modal='open').button
        span Заказать обратный звонок

