section.section.form-section
  .container
    h2.form-section__title Получите персональную<br> консультацию по INPOOL POWER
    .row.justify-content-center
      .col-xxl-4.col-xl-5
        form.form.form-section__form.js-validation
          .form__group
            .form__item
              .input.contacts__animate-item
                input(type="text" name='name' placeholder="Ваше имя" data-validate='name').input__element
            .form__item
              .input.contacts__animate-item
                input(type="text" name='phone' placeholder="Номер вашего телефона" data-validate='phone').input__element

          .form__submit
            button.button(type='submit')
              span Отправить