header.header(data-scroll-lock-fill-gap)
  .container.header__container
    a(href='./index.html' data-namespace=home_namespace).logo.header__logo
      img(src="./img/logos/logo.svg", alt="logo")
    button.nav-toggle(aria-label="nav-toggle")
      svg(stroke='currentColor' viewBox='0 0 34.8 5.5')
        path(d='M0.3,2.8c0,0,5.5-1.2,9.8-1.2c4.4,0,8.6,2.5,13.4,2.5s11-1.2,11-1.2')
      svg(stroke='currentColor' viewBox='0 0 34.8 5.5')
        path(d='M0.3,2.8c0,0,5.5-1.2,9.8-1.2c4.4,0,8.6,2.5,13.4,2.5s11-1.2,11-1.2')
      svg(stroke='currentColor' viewBox='0 0 34.8 5.5')
        path(d='M0.3,2.8c0,0,5.5-1.2,9.8-1.2c4.4,0,8.6,2.5,13.4,2.5s11-1.2,11-1.2')