section.section.home.window-size(data-window-mobile)
  .home-banner
    //
    .home-banner__background
      .home-banner__images.rellax(data-parralax='0.35' data-parralax-top)
        .image.image_cover
          img(data-src="./img/home1.jpg" data-srcset="./img/home1mobile.jpg 500w, ./img/home1.jpg 1920w" data-sizes="auto" alt="image").lazyload
        .image.image_cover
          img(data-src="./img/home2.jpg" data-srcset="./img/home2mobile.jpg 500w, ./img/home2.jpg 1920w" data-sizes="auto" alt="image").lazyload
        .image.image_cover
          img(data-src="./img/home3.jpg" data-srcset="./img/home3mobile.jpg 500w, ./img/home3.jpg 1920w" data-sizes="auto" alt="image").lazyload
      .home-banner__scene.scene(data-parralax='0.35' data-parralax-top)
    //
    .container.home-banner__container
      .home-banner__slogan.no-flickr Больше,<br> чем бассейн
      .home-banner__slide.container
        .home-banner__slide-titles
          h2.home-banner__slide-title(data-splitting) Покорите стихию
          h2.home-banner__slide-title(data-splitting) Ваше место силы
          h2.home-banner__slide-title(data-splitting) Ваша зона комфорта
        .home-banner__slide-content
          p.home-banner__slide-text Инновационные бассейны INPOOL CONCEPT - место силы в вашем доме уже через месяц
          a(href="#modal-form" data-modal='open').button
            span Оставить заявку
      
      //pagination
      .pagination.home-banner__pagination
        ul.pagination__list
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
      
      //categories
      ul.category-list.home__category-list
        li.category-list__item.no-flickr
          a(href=power).category-list__link
            span Inpool<br> power
        li.category-list__item.no-flickr
          a(href=energy).category-list__link
            span Inpool<br> energy
        li.category-list__item.no-flickr
          a(href=family).category-list__link
            span Inpool<br> family
        li.category-list__item.no-flickr
          a(href=balance).category-list__link
            span Inpool<br> balance