section.section.home
  .home-banner
    .wave-scene(data-images='./img/roberto-nickson-so3wgJLwDxo-unsplash 2.jpg, ./img/roberto-nickson-so3wgJLwDxo-unsplash 3.jpg, ./img/roberto-nickson-so3wgJLwDxo-unsplash 2 (1).jpg, ./img/roberto-nickson-so3wgJLwDxo-unsplash 5.jpg')
    .container.home-banner__container
      .home-banner__slogan.no-flickr Бассейны<br> высочайшего<br> уровня
      //slide
      .home-banner__slide.container
        h2.home-banner__slide-title(data-splitting) Покори стихию
        .home-banner__slide-content
          p.home-banner__slide-text(data-splitting) INPOOL CONCEPT - это совокупность лучших технологий мировых производителей, сгрупированных соответствено.
          .home-banner__slide-button
            a(href="javascript:void(0);").button
              span Оставить заявку
      //slide
      .home-banner__slide.container
        h2.home-banner__slide-title(data-splitting) Система самоочистки 
        .home-banner__slide-content
          p.home-banner__slide-text(data-splitting) Инновационная система самоочистки фильтров бассейна позволяет поддерживать природную чистоту воды без участия человека. 
          .home-banner__slide-button
            a(href="javascript:void(0);").button
              span Оставить заявку
      //slide
      .home-banner__slide.container
        h2.home-banner__slide-title(data-splitting) Cистема дезинфекции
        .home-banner__slide-content
          p.home-banner__slide-text(data-splitting) INPOOL CONCEPT - это совокупность лучших технологий мировых производителей, сгрупированных соответствено.
          .home-banner__slide-button
            a(href="javascript:void(0);").button
              span Оставить заявку
      //slide
      .home-banner__slide.container
        h2.home-banner__slide-title(data-splitting) Оборудование
        .home-banner__slide-content
          p.home-banner__slide-text(data-splitting) В INPOOL CONCEPT используются самые современные интеллектуальные инструменты
          .home-banner__slide-button
            a(href="javascript:void(0);").button
              span Оставить заявку

      //pagination
      .pagination.home-banner__pagination
        ul.pagination__list
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
          li.pagination__item
            a(href="javascript:void(0);").pagination__button.pagination__button_style-1
      
      //categories
      ul.category-list.home__category-list
        li.category-list__item.no-flickr
          a(href=power).category-list__link
            span Inpool<br> power
        li.category-list__item.no-flickr
          a(href=energy).category-list__link
            span Inpool<br> energy
        li.category-list__item.no-flickr
          a(href=power).category-list__link
            span Inpool<br> family
        li.category-list__item.no-flickr
          a(href=power).category-list__link
            span Inpool<br> balance