section.section.home-about
  .container.home-about__container
    .row
      h2.home-about__title.col-xl-5 Inpool concept — <br>
        | это совокупность лучших технологий мировых производителей
      .home-about__content.offset-xl-1.col-xl-6 
        p INPOOL CONCEPT- это совокупность лучших технологий мировых производителей, сгрупированных соответствено образу жизни человека. На протяжении десяти лет мы подбирали максимально совместимые компоненты для каждой уникальной.
        a(href="#").button-more.home-about__button Узнать больше
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')