section.section.home-screen.home-banner
  .home-screen__gradient.home-banner__gradient
  .home-screen__background
    .home-screen__scene.scene(data-parralax='0.35' data-parralax-top)
      .image.image_cover
        img(data-src="./img/home1.jpg" data-sizes="auto" alt="image").lazyload
      .image.image_cover
        img(data-src="./img/home2.jpg" data-sizes="auto" alt="image").lazyload
      .image.image_cover
        img(data-src="./img/home3.jpg" data-sizes="auto" alt="image").lazyload

  .container.home-screen__container
    .home-banner__slogan.no-flickr Больше,<br> чем бассейн
    .home-banner__slide.container
      .home-banner__slide-titles
        h2.home-banner__slide-title(data-splitting) Покорите стихию
        h2.home-banner__slide-title(data-splitting) Ваше место силы
        h2.home-banner__slide-title(data-splitting) Ваша зона комфорта
      .home-banner__slide-content
        p.home-banner__slide-text Инновационные бассейны INPOOL CONCEPT - место силы в вашем доме уже через месяц
        a(href="#modal-form" data-modal='open').button
          span Оставить заявку
    
    .pagination.home-banner__pagination
      ul.pagination__list
        li.pagination__item
          a(href="javascript:void(0);").pagination__button
        li.pagination__item
          a(href="javascript:void(0);").pagination__button
        li.pagination__item
          a(href="javascript:void(0);").pagination__button
    
    -var bclass = 'home-screen__category-list';
    include bcategories
    