section.section.home-about
  .container.home-about__container
    .row
      h2.home-about__title.col-xxl-5.col-xl-6 INPOOL CONCEPT - это интеллектуальная система строительства и управления бассейном на базе лучших мировых технологий
      .home-about__content.offset-xxl-1.col-xl-6 
        p «На протяжении десяти лет мы тщательно отбирали максимально совместимые компоненты и технологии. В результате были разработаны четыре уникальные концепции бассейнов, максимально соответствующих вашему образу жизни»<br> – Команда Inpool Concept
        a(href=portfolio).button-more.home-about__button Посмотреть концепции
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#round-arrow')