nav.nav
  .nav__container
    .nav__content
      ul.nav__list
        li.nav__item
          a(href="#").nav__link 
            span Об INPOOL Concept
        li.nav__item
          a(href="#").nav__link 
            span Дополнительное оборудование
        li.nav__item
          a(href="#").nav__link 
            span Сервис
        li.nav__item
          a(href="#").nav__link 
            span Контакты

      .nav__content-bottom
        ul.socials.nav__socials
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#vkontakte')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#instagram')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#odnoklassniki')
          li.socials__item
            a(href="#").socials__link
              svg.icon
                use(xlink:href='./img/icons/socials-sprite.svg#facebook')
          

        .nav__slogan INPOOL CONCEPT - это совокупность лучших 