section.section.personal-form
  .container  
    .personal-form__head.row
      h2.personal-form__title.col-xxl-8 Получите персональное предложение
      p.personal-form__head-text.col-xxl-3 Оставьте контакты и мы свяжемся с вами в удобное время
    form.form.js-validation
      .form__group.row.align-items-end
        .form__item.col-xl-4
          label.input.contacts__animate-item
            | Ваше имя
            input(type="text" name='name' placeholder="Ваше имя" data-validate='name').input__element
        .form__item.col-xl-4
          label.input.contacts__animate-item
            | Номер вашего телефона
            input(type="text" name='phone' placeholder="Номер вашего телефона" data-validate='phone').input__element
        .form__item.col-auto
          button.button(type='submit')
            span Отправить