section.section.personal-form
  .container  
    .personal-form__head.row
      h2.personal-form__title.col-xxl-8.offset-xxl-1.col-xl-9 Получите персональное предложение
      p.personal-form__head-text.col-xl-3 Оставьте контакты и мы свяжемся с вами в удобное время
    form.form.js-validation
      .row.align-items-end.justify-content-center.justify-content-sm-start
        .form__group.col-xl-8.col-lg.offset-xxl-1
          .row
            .form__item.col-sm-6
              label.input.contacts__animate-item
                | Ваше имя
                input(type="text" name='name' placeholder="Ваше имя" data-validate='name').input__element
            .form__item.col-sm-6
              label.input.contacts__animate-item
                | Номер вашего телефона
                input(type="text" name='phone' placeholder="Номер вашего телефона" data-validate='phone').input__element 
        .form__submit.col-auto.offset-xxl-0.offset-xl-1
          button.button.button_submit(type='submit')
            span Отправить
            svg(viewBox='0 0 120 30' fill='currentColor')
              circle(cx='15' cy='15' r='15')
                animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')
              circle(cx='60' cy='15' r='9' fill-opacity='0.3')
                animate(attributeName='r' from='9' to='9' begin='0s' dur='0.8s' values='9;15;9' calcMode='linear' repeatCount='indefinite')
                animate(attributeName='fill-opacity' from='0.5' to='0.5' begin='0s' dur='0.8s' values='.5;1;.5' calcMode='linear' repeatCount='indefinite')
              circle(cx='105' cy='15' r='15')
                animate(attributeName='r' from='15' to='15' begin='0s' dur='0.8s' values='15;9;15' calcMode='linear' repeatCount='indefinite')
                animate(attributeName='fill-opacity' from='1' to='1' begin='0s' dur='0.8s' values='1;.5;1' calcMode='linear' repeatCount='indefinite')