section.section.personal-form
  .container  
    .personal-form__head.row
      h2.h1.personal-form__title.col-xxl-8.offset-xxl-1.col-xl-9 Получите персональное предложение
      p.personal-form__head-text.col-xl-3 Оставьте контакты и мы свяжемся с вами в удобное время
    form.form.js-validation
      .row.align-items-end.justify-content-center.justify-content-sm-start
        .form__group.col-xl-8.col-lg.offset-xxl-1
          .row
            .form__item.col-sm-6
              label.input.contacts__animate-item
                | Ваше имя
                input(type="text" name='name' placeholder="Ваше имя" data-validate='name').input__element
            .form__item.col-sm-6
              label.input.contacts__animate-item
                | Номер вашего телефона
                input(type="text" name='phone' placeholder="Номер вашего телефона" data-validate='phone').input__element 
        .form__submit.col-auto.offset-xxl-0.offset-xl-1
            button.button(type='submit')
              span Отправить