.popup.popup-succes#succes
  .popup__overlay(data-popup='close')
  .popup-block
    .popup-block__container
      a(href="javascript:void(0);" data-popup='close').popup-block__close
      .popup-block__content.popup-succes__content
        h2.popup-succes__title.popup__title Спасибо!
        svg.popup-succes__icon(width='65' height='59' viewBox='0 0 65 59' fill='none' stroke='currentColor' xmlns='http://www.w3.org/2000/svg')
          path(d='M1.5 36.8079L20.1349 56.7611L63.4635 1.23926' stroke-width='2')
        p Ваша заявка успешно отправлена. На указанный номер скоро позвонит наш менеджер и расскажет подробнее об iNPOOL Concept

.popup.popup-message#asm-info
  .popup__overlay(data-popup='close')
  .popup-block
    .popup-block__container
      a(href="javascript:void(0);" data-popup='close').popup-block__close
      .popup-block__content
        p Принципиальное отличие INPOOL ASM Control от других систем управления бассейном: 
        ol
          li Вся система управления бассейном в одном месте. Конфигурируется под каждый проект индивидуально.
          li Управление температурой воды.
          li Управление освещением, которое понятно ребенку.
          li Функция PARTY - включает музыку и освещение в бассейне одновременно по вашему сценарию.
          li Вывод параметров станции дезинфекции (активный кислород, содержание хлора, PH и температура).
          li Управление автоматическим покрытием жалюзи.
          li Доступ к информации по аварийным ситуациям.
          li Ночной режим энергосбережения.
          li Аттракционы

.popup.popup-form#form-popup
  .popup__overlay(data-popup='close')
  .popup-block
    .popup-block__container
      a(href="javascript:void(0);" data-popup='close').popup-block__close
      .popup-block__content.popup-form__content
        h2.popup__title.popup-form__title Получите персональное предложение!
        p INPOOL CONCEPT- это совокупность лучших технологий мировых производителей, сгрупированных 
        form.form.popup-form__form.js-validation
          .row
            .form__group.col-12
              .form__item
                label.input.contacts__animate-item
                  input(type="text" name='name' placeholder="Ваше имя" data-validate='name').input__element
              .form__item
                label.input.contacts__animate-item
                  input(type="text" name='phone' placeholder="Номер вашего телефона" data-validate='phone').input__element
            .form__submit.col-12
              button.button(type='submit')
                span Отправить