-var title = 'Inpool'

-var home = './index.html'
-var home_namespace = 'home'

-var power = './power.html'
-var power_namespace = 'power'

-var energy = './energy.html'
-var energy_namespace = 'energy'

-var family = './family.html'
-var family_namespace = 'family'

-var balance = './balance.html'
-var balance_namespace = 'balance'

-var technology = './technology.html'
-var technology_namespace = 'technology'

-var equipment = './equipment.html'
-var equipment_namespace = 'equipment'

-var portfolio = './portfolio.html'
-var portfolio_namespace = 'portfolio'

-var contacts = './contacts.html'
-var contacts_namespace = 'contacts'
