-var title = 'Inpool'

-var home = './index.html'
-var home_name = 'home'

-var power = './power.html'
-var power_name = 'power'

-var energy = './energy.html'
-var energy_name = 'energy'

-var family = './family.html'
-var family_name = 'family'

-var balance = './balance.html'
-var balance_name = 'balance'

-var technology = './technology.html'
-var technology_name = 'technology'

-var equipment = './equipment.html'
-var equipment_name = 'equipment'

-var portfolio = './portfolio.html'
-var portfolio_name = 'portfolio'

-var contacts = './contacts.html'
-var contacts_name = 'contacts'
