-var title = 'Inpool'

-var home = './index.html'
-var power = './power.html'
-var energy = './energy.html'
-var family = './family.html'
-var balance = './balance.html'
-var technology = './technology.html'
-var equipment = './equipment.html'
-var portfolio = './portfolio.html'
-var contacts = './contacts.html'
